a:link {
    text-decoration: none;
    font-weight: normal;
    color: white;
}

a:visited {
    text-decoration: none;
    font-weight: normal;
    color: white;
}

a:hover {
	text-decoration: none;
    font-weight: bold;
    color: lime;
}

a:active {
	text-decoration: none;
    font-weight: underline;
    color: yellow;
}
.button {
	position: fixed;
	background-color: none;
	z-index: 10000;
	color: white;
	font-family: monospace; 
	font-size: 10px;
	text-align: center;
	line-height: 10px;
	outline:solid #ff0000;
	outline-color: white;
	outline-width: 2px;
	width: 20px;
	height: auto;
}
#button_enter{
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
#button_enter{
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
img{
	width: 100%;
	height: auto;
}
body{
	background-color: black;
}
#face1{
	width: 440px;
	position: absolute;
	left: 48%;
	bottom: 15%;
	transform: translate(-50%,0%);
}
#face2{
	width: 290px;
	position: absolute;
	left: 20%;
	top: 40%;
}
#face3{
	width: 350px;
	position: absolute;
	right: 30%;
	bottom: 35%;
}
#face4{
	width: 530px;
	position: absolute;
	right: 50%;
	top: 25%;
	transform: translate(50%,0%);
}
#face5{
	width: 450px;
	position: absolute;
	left: 48%;
	top: 10%;
	transform: translate(-50%,0%);
}