body{
	font-family: "VT323";
}
a:link {
    text-decoration: none;
    font-weight: lighter;
    color: white;
}

a:visited {
    text-decoration: none;
    font-weight: normal;
    color: white;
}

a:hover {
	text-decoration: none;
    font-weight: normal;
    color: #e2c1a4;
}

a:active {
	text-decoration: none;
    font-weight: underline;
    color: #fffff2;
}
img{
	position: fixed;

	top:0;
	left:0;

	width: 100%;
	height: auto;
	
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}
body{
	background-color: black;
}
.draggable{
	/*float: left;*/
	/*position: absolute;*/
	background-size: contain;

/*  -webkit-shape-outside: polygon(0 0,24 166,530 54,518 0,0 0);
  shape-outside: polygon(0 0,24 166,530 54,518 0,0 0);
  -webkit-clip-path: polygon(0 0,24 166,530 54,518 0,0 0);*/
	
/*  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);*/
}
#face1{
	width: 440px;
	/*left: 20%;*/
	/*top: 75%;*/
	/*transform: translate(341px, -159px);*/
}
#face2{
	width: 290px;
	/*left: 20%;*/
	/*top: 30%;*/
	/*transform: translate(-152px, -283px);*/
}
#face3{
	width: 350px;
	/*left: 20%;*/
	/*top: 30%;*/
	/*transform: translate(-325px, -297px);*/
}
#face4{
	width: 530px;
	/*left: 20%;*/
	/*top: 10%;*/
	/*transform: translate(262px, -575px);*/
}
#face5{
	width: 450px;
	/*left: 20%;*/
	/*top: 20%;*/
	/*transform: translate(-136px, -714px);*/
}

#face1:hover{
	background-image: url(images/Nay_FaceClip2.png);
}
#face2:hover{
	background-image: url(images/SO_FaceClip2.png);
}
#face3:hover{
	background-image: url(images/JP_FaceClip2.png);
}
#face4:hover{
	background-image: url(images/99_FaceClip2.png);
}
#face5:hover{
	background-image: url(images/Riz_FaceClip2.png);
}

.overlay {
	color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -10;
    opacity: 1;
    visibility: hidden;
}

.shadow {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-color: #000000;
    opacity: 0.35;
    filter: alpha(opacity=70);
    visibility: hidden;
}

#back-shadow{
	opacity: 0.75;
}

.bio{
	position: relative;
	width: 80%;
	opacity: 1;
}
.sample{
	position: relative;
	width: 80%;
	opacity: 1;
	height: 100;
}

iframe{
	height: 100%;
	width: 100%;
	border: 0;
	bottom: 0px;
}

.welcome{
	position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
	z-index: 100;
	background-color: #000000;
	/*visibility: hidden;*/
}

li{
	list-style-type: none;
}

.main{
	color: white;
	margin: auto;
/*	border-style: dotted;
	border-color: white;*/
	padding-top: 10%;
}

.column{
	border-style: dotted;
	border-color: black;
}

.columns{
	border-style: dotted;
	border-color: black;
}

.enter{
	visibility: hidden;
}