img{
	position: relative;

	width: 100%;
	height: auto;
	
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}
body{
	background-color: black;
}
#face1{
	width: 440px;
}
#face5{
	width: 450px;
}